<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19651446907-hps1opm90b4vbs3darli8gfe7bcaj0gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19651446907-hps1opm90b4vbs3darli8gfe7bcaj0gp</string>
	<key>API_KEY</key>
	<string>AIzaSyB7dbD7UVt42qUSBCo0RUkHyaKn3EfxktQ</string>
	<key>GCM_SENDER_ID</key>
	<string>19651446907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siddhant.DemoApp</string>
	<key>PROJECT_ID</key>
	<string>demoapp-b014c</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-b014c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19651446907:ios:2595b288eb60172eb23ade</string>
</dict>
</plist>